/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}


/// Custom configuration



process {
    withName: 'PYTHON_DIVIDE_TRAIN_TEST' {
        publishDir = [
            path: { "${params.outdir}/model_training" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*.{csv}"
        ]
    }
    withName: 'PYTHON_MODEL_POSTPROCESSING' {
      publishDir = [
                    [
                    path: { "${params.outdir}/model_training" },
                    mode: params.publish_dir_mode,
                    pattern: "*.txt"
                ],
                [
                    path: { "${params.outdir}/NetActivity_weights" },
                    mode: params.publish_dir_mode,
                    pattern: "*.h5"
                ]
      ]
    }
    withName: 'PYTHON_TRAIN_MODEL' {
        publishDir = [
            path: { "${params.outdir}/model_training" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'R_EXPORT_GENES' {
        publishDir = [
            path: { "${params.outdir}/model_training" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'R_EXPORT_MODEL' {
        publishDir = [
            path: { "${params.outdir}/NetActivity_weights" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
