/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run yocra3/NetActivityTrain -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    data_prefix   = 'https://github.com/yocra3/NetActivityTrain/blob/a049d694a5756e6da6220ed88eac2220faa96ca2/data/test_'
    network = 'https://raw.githubusercontent.com/yocra3/NetActivityTrain/master/data/network_structure.py'
    network_params = 'https://raw.githubusercontent.com/yocra3/NetActivityTrain/master/data/network_params.py'
    gene_mask = 'https://raw.githubusercontent.com/yocra3/NetActivityTrain/master/data/gene_map_mini.tsv'

}
